/* Variables */

:root {
--basic-black: #000000;
--basic-white: #FFFFFF;
--light-blue:  #81B3D3;
--extra-dark:  #333333;
--grey: #EEE;
--basic-brown: #766458;
--extra-light-dark:#231F20;
--extra-blue: #81B3D2;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 1200px;
  margin: 0 auto;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* main-header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Logo */
.main-navigation-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
}
.title-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 216px;

}
.site-navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  height: 56px;
  padding: 0 72px;
}

.navigation-link {
  text-decoration: none;
}

.navigation-link:link{
  color: var(--basic-black)
}

.navigation-link:visited {
color: var(--basic-black);
opacity: 0.3;
}

.navigation-link:hover {
  color: var(--extra-blue);
}

.navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

    /*Main*/

.title--main{
line-height: 26px;
text-align: center;
width: 470px;
}

.text--main {
line-height: 26px;
}

.title{
font-size: 21px;
line-height: 21px;
}

.text {
font-size: 14px;
line-height: 21px;
}

.white{
 color: var(--basic-white)
}

.black {
  color: var(--basic-black)
}

/* Features */

.features-item--big{
background-color: var(--extra-blue);
}

.features-list--inner{
background-color: var(--basic-white);
grid-column-start: 1;
grid-column-end: 4;
}

.features-item:nth-child(1) img {
  grid-column-start: 2;
  grid-column-end: 4;
}
.features-item:nth-child(2) img {
  grid-column-start: 1;
  grid-column-end: 3;
}

.features-item--grey{
 background-color: var(--grey);
}

.grid-features-list{
  display: grid;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;

}
.grid-features-img{
  display: grid;
  outline: 5px solid rgba(81, 255, 0, 0.952);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-features-item{
 outline: 5px solid rgba(0, 153, 255, 0.952);
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* appointment */

.appointment-flex{
display: flex;
flex-direction: column;
align-items: center;
}
.appointment-title{
  font-size: 30px;
  line-height: 24px;
}

.appointment-text{
  font-size: 14px;
  line-height: 24px;
}

/* Main footer */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-footer a{
  text-decoration: none;
  color: var(--basic-black);
  line-height: 26px;
}

.footer-contacts{
  font-weight: bold;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.social-button {
  background-color: var(--extra-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:active path {
  opacity: 0.3 ;
}
.social-button:link {
    background: var(--extra-blue);
  }

.social-button:visited {
  background: #5496BD;
  }

.social-button:hover{
    background: #669EC0;
  }

.social-button:active{
    background: #5496BD;
  }

.footer-copyright-link:link path{
  fill: var(--extra-light-dark);
}

.footer-copyright-link:active path{
  fill: #BDBBBC;
}

.footer-copyright-link:visited path {
  fill: #BDBBBC;
}

.footer-copyright-link:hover path{
  fill: var(--extra-blue);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
}
}
 /*Catalog*/

.main-travel {
   list-style: none;
   padding: 0;
 }

.main-travel-item {
   display: flex;
   border-top: #5496BD solid 1px ;
   border-bottom: #5496BD solid 1px;
   padding: 30px 73px;

 }

.main-travel-stars {
  list-style: none;
  display: flex;
}

.main-travel-rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.main-travel-img {
  margin-right:  29px;
}

.main-travel-type {
  display: flex;
  margin-bottom: 15px;
  }

.main-travel-type .text {
  margin: 0;
}
.main-travel-type .text:first-child {
  width: 120px;
  margin-right: 10px;
}
.travel-title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 7px;
}

.main-sorting-title {
  display: flex;
  padding: 30px 73px;
  border-top: blue solid 1px;
  border-bottom: blue solid 1px;
  align-items: center;
}
.main-sorting-item{
  display: flex;
  width: 100%;
}


.sorting-arrow{
  list-style: none;
  display: flex;
  align-items: flex-end;
}


.sorting {
 font-size: 12px;
 line-height: 18px;
 list-style: none;
}

.sorting-head {
  margin-left: 40px;
}
.sorting-type {
  margin-left: 32px;
}
.sorting-link{
 text-decoration: none;
 color: var(--basic-black);
 opacity: 0.3;
}

.sorting-link:link {
color: var(--basic-black);
opacity: 0.3;
}

.sorting-link:hover {
color: var(--extra-blue);
opacity: 1;
}

.sorting-link:active {
  color: var(--basic-black);
}

.sorting-active {
  color: var(--extra-blue);
  margin-left: 40px;

}

.button-main {
  color: var(--basic-white);
  background-color: var(--extra-blue);
  padding: 3px;
  padding-left: 17px;
  padding-right: 16px;
  text-decoration: none;
  font-weight: 700;
}

.main-travel-button {
  display: flex;
}

.button-main-brown {
 margin-left: 10px;
  background-color: var(--basic-brown);
}

.text-frame {
  color: #666666;
  background-color: #F2F2F2;
  padding: 3px;
  padding-left: 15px;
  padding-right: 12px;
  margin: 0;
}

.button-main:link{
  background: #81B3D2;
}

.button-main:visited {
  background: #81B3D2;
}

.button-main:hover {
  background: #669EC0;
}

.button-main:active {
  background: #5496BD;
}

.button-main-brown:link{
  background: #766357;
}

.button-main-brown:visited {
  background: #766357;
}

.button-main-brown:hover {
  background: #604E43;
}

.button-main-brown:active {
  background: #503E33;
}

.title-link {
  text-decoration: none;
}

.title-link:link{
  color: var(--basic-black)
}

.title-link:visited {
color: var(--basic-black);
}

.title-link:hover {
  color: var(--extra-blue);
}

.title-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* background elements */

.Welcome-Sedona::before{
  content: "";
  background-image: url("../img/img/welcome1.svg") , url("../img/img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 371px 77px, 0 455px;
  position: absolute;
  width: 1200px;
  height: 509px;
  }

.list-icon::before {
  content: "";
  background-image: url("../img/icon/home.svg"), url("../img/icon/burger.svg"), url("../img/icon/box.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px, 562px 60px, 968px 60px;
  position: absolute;
  width: 1200px;
  height: 330px;
}

.features-height {
  padding: 137px 57px 82px 57px;
}

.title-number {
  margin-top: 47px;
  max-width: 160px;
  width: 400px;
  margin-left: 122px;
}

.list-number {
  margin-top: 25px;
}

.text-number {
  margin-top: 23px;
  padding-bottom: 54px;

  max-width: 298px;
  width: 300px;
  margin-left: 50px;

}




